#startMssg {
  text-align: center;
}

.button {
  margin: 3px;
}

textarea :focus {
  is-focused
}

.nutritionDiv img {
  max-width: 200px;
  max-height: 200px;
}
 
::-webkit-input-placeholder {
   text-align: center;
}

input :focus {
	is-focused
}