#startMssg {
  text-align: center;
}

.button {
  margin: 3px;
}

textarea :focus {
  is-focused
}

.nutritionDiv img {
  max-width: 200px;
  max-height: 200px;
}
 
::-webkit-input-placeholder {
   text-align: center;
}

input :focus {
	is-focused
}

.nutrBorder {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px
}

#start {
	background-color: transparent;
	border-color: black;
	color: black;
}

#start:hover{
	color: white;
	background-color: #00D1B2;
	border-style: none;
}

html, body{
	height: 100%;
}